<h1 class="my-5">About me</h1>

<div class="container">
  <div class="row">
    <div class="col-4">
        <p>Hi, I'm Alexandra Suboch,<br>and here's my story.</p>
    </div>
    <div class="col-4">
        <%= image_tag "female-developer-vector.jpg", class:"image-size" %>
        <p>Here will be my real photo</p>
    </div>    
  </div>
</div>

