<h1>My Projects</h1>
<p>Find me in app/views/pages/projects.html.erb</p>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <%= image_tag "project_viajes_chile.png", class:"image-size" %>
      <div class="card-body">
        <h5 class="card-title">Viajes Chile</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button type="button" class="btn btn-secondary">See Project</button>        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <%= image_tag "project_ricomida.png", class:"image-size" %>
      <div class="card-body">
        <h5 class="card-title">Ricomida</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-secondary">See Project</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <%= image_tag "project_cuppon.png", class:"image-size" %>
      <div class="card-body">
        <h5 class="card-title">Cuppon</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-secondary">See Project</a>
      </div>
    </div>
  </div>
</div>